<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wsg.xsybbs">


    <!--bugly权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <!--Bmob权限-->
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 环信easeUI-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />





    <!---->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />






    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">




        <!--闪屏页-->
        <activity android:name=".activity.SplashActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--登录页面-->
        <activity android:name=".module.login.view.LoginActivity" android:label="@string/login"></activity>
        <!--注册界面-->
        <activity android:name=".module.register.view.RegisterActivity" android:theme="@style/ActivityTheme"/>
        <!--忘记密码界面-->
        <activity android:name=".module.forgetpassword.view.ForgetPasswordActivity" android:theme="@style/ActivityTheme"/>
        <!--修改密码页面-->
        <activity android:name=".module.modifypassword.view.ModifyPasswordActivity" android:theme="@style/ActivityTheme"/>
        <!--游客浏览-->
        <activity android:name=".module.tourist.view.TouristLoginActivity" android:theme="@style/ActivityTheme"/>
        <!--意见反馈-->
        <activity android:name=".module.feedback.view.FeedBackActivity" android:theme="@style/ActivityTheme"/>
        <!--个人详细信息-->
        <activity android:name=".module.persiondetail.view.PersionalDealActivity" android:theme="@style/ActivityTheme"/>
        <!--版本更新-->
        <activity android:name=".activity.usercenter.UpDateActivity" android:theme="@style/ActivityTheme"/>
        <!--关于-->
        <activity android:name=".activity.usercenter.AboutActivity" android:label="@string/tex_about"></activity>
        <!--我的帖子-->
        <activity android:name=".module.mynote.view.MyNoteActivity" android:theme="@style/ActivityTheme"/>
        <!--我的消息界面-->
        <activity android:name=".activity.usercenter.MyMessageActivity" android:theme="@style/ActivityTheme"/>
        <!--选择头像界面-->
        <activity android:name=".activity.usercenter.ChooseProfileActivity" android:label="@string/text_choose_profile"></activity>
        <!--编辑个人资料界面-->
        <activity android:name=".module.modifyinfo.view.ModifyUserInfoActivity" android:theme="@style/ActivityTheme"/>

        <!--bmob更新activity-->
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>



        <!--主界面-->
        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:launchMode="singleTask">
        </activity>

        <!--聊天跳转界面-->
        <activity android:name=".activity.ChatActivity" android:theme="@style/ActivityTheme" />


        <!-- EaseUI中发送图片后查看以及发送地理位置activit注册   -->
        <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"/>
        <!--添加帖子-->
        <activity android:name=".module.addnote.view.AddNoteActivity" android:theme="@style/ActivityTheme"/>
        <!--搜索帖子-->
        <activity android:name=".module.searchnote.view.SearchNoteActivity" android:theme="@style/ActivityTheme"/>
        <!--修改帖子-->
        <activity android:name=".module.modifynote.view.ModifyMyNoteActivity" android:theme="@style/ActivityTheme"/>
        <!--帖子详情-->
        <activity android:name=".activity.note.NoteDetailActivity" android:theme="@style/ActivityTheme"/>

        <activity
            android:name=".flutter.MomentDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
        </activity>


        <!--Bmob自动更新兼容到 Android 7.0-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wsg.xsybbs"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.wsg.xsybbs.BmobContentProvider">
        </provider>




        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1116170727115282#xsybbs" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>



        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XzM12MmxwUPhSqfgTdtxmcUEoTAg6pma" />





    </application>

</manifest>