<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wsg.xsybbs">


    <!--bugly权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <!--Bmob权限-->
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name_x"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:name,android:label,android:icon, android:theme,android:allowBackup"
        android:theme="@style/AppTheme">


        <!--闪屏页-->
        <activity android:name=".activity.SplashActivity" android:theme="@style/SplashActivityTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--登录页面-->
        <activity android:name=".module.login.view.LoginActivity" android:label="@string/login" android:exported="true"></activity>
        <!--注册界面-->
        <activity android:name=".module.register.view.RegisterActivity" android:theme="@style/ActivityTheme" android:exported="true"/>
        <!--忘记密码界面-->
        <activity android:name=".module.forgetpassword.view.ForgetPasswordActivity" android:theme="@style/ActivityTheme" android:exported="true"/>
        <!--修改密码页面-->
        <activity android:name=".module.modifypassword.view.ModifyPasswordActivity" android:theme="@style/ActivityTheme" android:exported="true"/>
        <!--游客浏览-->
        <activity android:name=".module.tourist.view.TouristLoginActivity" android:theme="@style/ActivityTheme" android:exported="true"/>
        <!--意见反馈-->
        <activity android:name=".module.feedback.view.FeedBackActivity" android:theme="@style/ActivityTheme" android:exported="true"/>
        <!--个人详细信息-->
        <activity android:name=".module.persiondetail.view.PersionalDealActivity" android:theme="@style/ActivityTheme" android:exported="true"/>
        <!--版本更新-->
        <activity android:name=".activity.usercenter.UpDateActivity" android:theme="@style/ActivityTheme" android:exported="true"/>
        <!--关于-->
        <activity android:name=".activity.usercenter.AboutActivity" android:label="@string/tex_about" android:exported="true"></activity>
        <!--我的帖子-->
        <activity android:name=".module.mynote.view.MyNoteActivity" android:theme="@style/ActivityTheme" android:exported="true"/>
        <!--我的消息界面-->
        <activity android:name=".activity.usercenter.MyMessageActivity" android:theme="@style/ActivityTheme" android:exported="true"/>
        <!--选择头像界面-->
        <activity android:name=".activity.usercenter.ChooseProfileActivity" android:label="@string/text_choose_profile" android:exported="true"></activity>
        <!--编辑个人资料界面-->
        <activity android:name=".module.modifyinfo.view.ModifyUserInfoActivity" android:theme="@style/ActivityTheme" android:exported="true"/>

        <!--bmob更新activity-->
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" android:exported="true" >
        </activity>



        <!--主界面-->
        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:launchMode="singleTask" android:exported="true">
        </activity>

        <!--添加帖子-->
        <activity android:name=".module.addnote.view.AddNoteActivity" android:theme="@style/ActivityTheme" android:exported="true"/>
        <!--搜索帖子-->
        <activity android:name=".module.searchnote.view.SearchNoteActivity" android:theme="@style/ActivityTheme" android:exported="true"/>
        <!--修改帖子-->
        <activity android:name=".module.modifynote.view.ModifyMyNoteActivity" android:theme="@style/ActivityTheme" android:exported="true"/>
        <!--帖子详情-->
        <activity android:name=".activity.note.NoteDetailActivity" android:theme="@style/ActivityTheme" android:exported="true"/>

        <activity android:name=".module.notedetail.view.NoteDetailV2Activity" android:theme="@style/ActivityTheme" android:exported="true"/>

        <activity
            android:name=".flutter.MomentDetailActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
        </activity>


        <!--Bmob自动更新兼容到 Android 7.0-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wsg.xsybbs"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.wsg.xsybbs.BmobContentProvider"
            android:exported="true">
        </provider>

        <provider
            android:name="com.wsg.xsybbs.FileProvider"
            android:authorities="com.wsg.xsybbs"
            android:exported="true"
            />
    </application>

</manifest>